@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    color: white;
    font-family: Eudoxus Sans, sans-serif;
    scroll-behavior: smooth;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background-color: lightgreen;
    width: 0;
    height: 0;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: grow 0.5s ease-out forwards;
}

@keyframes grow {
    from {
        width: 0;
        height: 0;
        opacity: 1;
    }
    to {
        width: 250px;
        height: 250px;
        opacity: 0.1;
    }
}
